 <!--end right search--><!--start slide-->
<section class="sectionhome fade-down">

    <!--start rev slider-->
    <div class="tp-banner-container">
        <div class="tp-banner tp-banner-full-screen">
            <ul>

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <img src="/Content/Pioneer/img/rev-slider/4/slide4.jpg" style='background-color:#b2c4cc' alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">


                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="50"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <img src="/Content/Pioneer/img/logo.jpg" style="width:50%" />
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="350"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6;font-size:3em;font-weight:bold">
                        ONE DAY FLOATING MARKET
                    </div>

                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="300"
                         data-y="500"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                        Departure 7:30am - Return 7:00PM
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="150"
                         data-y="650"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                        1.680.000 VND
                    </div>
                </li>
                <!-- SLIDE  -->
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <img src="/Content/Pioneer/img/rev-slider/5/slide5.jpg" style='background-color:#b2c4cc' alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="50"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <img src="/Content/Pioneer/img/logo.jpg" style="width:50%" />
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="350"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6;font-size:3em;font-weight:bold">
                        ONE DAY MEKONG DELTA
                    </div>

                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="300"
                         data-y="500"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                        Departure: 8:00 am to 05:30pm
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="150"
                         data-y="650"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                        12 USD/PAX
                    </div>
                </li>
                <!-- SLIDE  -->
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <img src="/Content/Pioneer/img/rev-slider/6/slide6.jpg" style='background-color:#b2c4cc' alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="50"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <img src="/Content/Pioneer/img/logo.jpg" style="width:50%" />
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="350"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6;font-size:3em;font-weight:bold">
                        MEKONG DELTA  2 DAYS 1 NIGHT
                    </div>

                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="300"
                         data-y="500"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                        Departure: 8:00 am, everyday
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="150"
                         data-y="650"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                       35USD/PAX
                    </div>
                </li>
                <!-- SLIDE  -->
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <img src="/Content/Pioneer/img/rev-slider/7/slide7.jpg" style='background-color:#b2c4cc' alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="50"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <img src="/Content/Pioneer/img/logo.jpg" style="width:50%" />
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="350"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6;font-size:3em;font-weight:bold">
                        CAO DAI TEMPLE-CU CHI TUNNELS
                    </div>

                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="300"
                         data-y="500"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                        DEPARTURE TIME: 8:30am – 06:00 pm
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="150"
                         data-y="650"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                        1.575.000VND
                    </div>
                </li>
                <!-- SLIDE  -->
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <img src="/Content/Pioneer/img/rev-slider/8/slide8.jpg" style='background-color:#b2c4cc' alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="50"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <img src="/Content/Pioneer/img/logo.jpg" style="width:50%" />
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="450"
                         data-y="350"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6;font-size:3em;font-weight:bold">
                        CAO DAI TEMPLE-CU CHI TUNNELS
                    </div>

                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="300"
                         data-y="500"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1200"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                        DEPARTURE TIME: 8:30am – 06:00 pm
                    </div>
                    <div class="tp-caption greybgtextslider skewfromleft customout"
                         data-x="150"
                         data-y="650"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="2000"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 9;font-size:3em;font-weight:bold">
                        1.575.000VND
                    </div>
                </li>
                <!-- SLIDE  -->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!--end rev slider-->
    

</section>
<!--end slide-->